<div class="relative aspect-square rounded-5 overflow-hidden">
  <img #memberImg [src]="'assets/team-intro/bg-' + name + '.png'" width="100%" alt="team intro" />
  <img
    priority
    fill
    [ngSrc]="'assets/team-intro/member-' + name + '.png'"
    alt="team intro"
    class="member"
    [class.member--active]="isIntersecting()"
  />
</div>
<div class="mt-[10px] text-[32px] font-bold leading-tight">{{ name }}</div>
<div class="mt-[10px] w-fit py-1 px-[10px] font-fredoka text-base" [style.backgroundColor]="TeamColor[team]">
  {{ MemberTeam[team] }}
</div>
<div class="mt-[10px] font-fredoka text-lg">{{ intro }}</div>
