@keyframes popup {
  0% {
    transform: translate(0, 100%);
  }

  60% {
    transform: translate(0, -10%);
  }

  100% {
    transform: translate(0);
  }
}

:host {
  display: block;
  border-radius: 40px;
  border: 3px solid white;
  padding: 20px;

  .member {
    border-radius: 20px;
    animation: 0.7s linear 0s 1 normal none paused popup;

    &--active {
      animation-play-state: running;
    }
  }
}
