@keyframes popup {
  0% {
    top: 100%;
  }

  60% {
    top: -10%;
  }

  100% {
    top: 0;
  }
}

:host {
  display: block;
  border-radius: 40px;
  border: 3px solid white;
  padding: 20px;

  .member {
    position: absolute;
    border-radius: 20px;
    animation: 0.7s linear forwards paused popup;

    &--active {
      animation-play-state: running;
    }
  }
}
