@use 'stylings/variables';

@keyframes move-x {
  to {
    left: calc(100% - 400px);
  }
}

@keyframes move-y {
  to {
    top: calc(100% - 400px);
  }
}

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .bouncing-container {
    flex-grow: 1;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      animation:
        5.25s linear infinite alternate move-x,
        3.75s linear infinite alternate move-y;
    }
  }
}
