:host {
  margin-inline: auto;
  width: 1440px;
  background: url('/assets/game/cnc/bg-cnc.png') center / cover;
  padding: 90px 0 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 144px;
}
