<div class="text-center font-medium text-3xl uppercase">HOW TO PLAY CH0P YOUR SOUL</div>
<div class="mt-10 font-semibold text-2xl">Prize</div>
<div class="mt-5 font-fredoka text-xl">
  An exclusive swappable trait, which can be used to level up your ch0pch0p, turning your regular NFT into a rare one.
</div>
<div class="mt-10 font-semibold text-2xl">Rules</div>
<div class="mt-5 font-fredoka text-xl">
  <ul>
    <li>If you hold a "C1" by ch0pch0p NFT, you can choose one of three machines to play.</li>
    <li>If you hold one of our partner NFTs, you can only play the machine associated with that partner.</li>
  </ul>
  <div class="mt-5">
    (P/s: Why not mint a ch0pch0p with $20, and have a chance to win a unique self trait valued at $100 lol) LOL
  </div>
  <ul class="mt-5">
    <li>Maximum: 2 turns/day. Each turn costs 10 STARS.</li>
  </ul>
</div>
<div class="mt-10 font-semibold text-2xl">How to play</div>
<div class="mt-5 font-fredoka text-xl">
  <ul>
    <li>Select a claw machine you want to play with.</li>
    <li>Click "Connect Wallet" to verify the NFTs in your possession.</li>
    <li>Click "Play" to start.</li>
  </ul>
</div>
<div class="mt-10 font-semibold text-2xl">Term & Conditions</div>
<div class="mt-5 font-fredoka text-xl">
  <ol>
    <li>Each play costs 10 STARS. This fee cannot be refunded once paid.</li>
    <li>Each user is limited to 2 plays per day.</li>
    <li>Upon winning a rare Self trait, you will receive that trait in your wallet.</li>
    <li>The swappable self will be used for the "Level Up" Game.</li>
  </ol>
  <div class="mt-5">
    Note: There are only a handful of swappable selves in the gacha machines, so wish yourself luck ;)
  </div>
</div>
