@use '/src/stylings/functions';
@use '/src/stylings/mixins';
@use '/src/stylings/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.bg-logo(
    functions.app-linear-gradient(variables.$tangerine-yellow, variables.$rich-electric-pink),
    'url("/assets/app/0-by-ch0pch0p.svg") center',
    100%
  );
}
