@use './variables';

.page-margin {
  padding-right: 16px;
  padding-left: 16px;

  @media (width >= #{variables.$tablet}) {
    padding-right: 64px;
    padding-left: 64px;
  }

  @media (width >= #{variables.$laptop}) {
    padding-right: 92px;
    padding-left: 92px;
  }

  @media (width >= #{variables.$desktop}) {
    padding-right: 220px;
    padding-left: 220px;
  }
}
