@use './variables';

.page-margin {
  padding-right: 16px;
  padding-left: 16px;

  @media (width >= #{variables.$tablet}) {
    padding-right: 64px;
    padding-left: 64px;
  }

  @media (width >= #{variables.$laptop}) {
    margin: 0 auto;
    max-width: 1310px;
  }

  @media (width >= #{variables.$desktop}) {
    margin: 0 auto;
    max-width: 1598px;
  }
}
