@forward './typography' show $headline-font, $body-font;

$bg-app: #09090b;
$purple: #ae00a8;
$ultramarine-blue: #2d1fc3;
$dark-violet: #3c1482;
$fawn: #9f503d;
$dark-khaki: #977937;
$rich-electric-pink: #d70088;
$red: #ff0036;
$rose-pink: #ff0085;
$red-orange: #ff2c10;
$amber: #ffb000;
$tangerine-yellow: #ffc800;
$school-bus-yellow: #ffd13d;
$electric-purple: #f269ff;
$light-apricot: #f9cdb9;
$vivid-cerulean: #00c1e9;
$caribbean-green: #00ceb4;
$pale-robin-egg-blue: #a3e8cf;
$lavender-blush: #ffeef2;
$tablet: 1024px;
$laptop: 1366px;
$desktop: 1600px;
