@forward './typography' show $headline-font, $body-font;

$bg-app: #000;
$purple: #ae00a8;
$ultramarineBlue: #2d1fc3;
$darkViolet: #3c1482;
$fawn: #9f503d;
$darkKhaki: #977937;
$richElectricPink: #d70088;
$red: #ff0036;
$rosePink: #ff0085;
$redOrange: #ff2c10;
$amber: #ffb000;
$tangerineYellow: #ffc800;
$schoolBusYellow: #ffd13d;
$electricPurple: #f269ff;
$lightApricot: #f9cdb9;
$vividCerulean: #00c1e9;
$caribbeanGreen: #00ceb4;
$paleRobinEggBlue: #a3e8cf;
$lavenderBlush: #ffeef2;

$tablet: 1024px;
$laptop: 1366px;
$desktop: 1600px;
