:host {
  display: block;
  background: url('/assets/game/bg-ch0p-it.png') center / cover;

  .game-banner {
    position: relative;
    margin-inline: auto;
    width: 1440px;
    height: 810px;
    background: url('/assets/game/bg-ch0pch0p-game.png') center / cover;

    > div {
      position: absolute;
      top: calc(50% + 176px);
      left: calc(50% - 434px);
    }
  }
}
