<app-sticky-nav />

<div class="overflow-x-auto">
  <div class="universe-container">
    <div class="constellation">
      <div class="self-start flex flex-col items-start">
        <div class="mt-16 section-heading section-heading--soar-left bg-red">virtual event</div>
        <div class="section-label mt-3 w-min bg-lunar text-left text-[100px] uppercase">Cosmos NFT Conference</div>
        <div class="mt-[56px] font-bold text-3xl">March 8 - 10, 2024</div>
        <div class="mt-5 font-bold text-3xl">Gather town</div>
        <div class="mt-[120px] flex gap-x-15">
          <div class="font-bold text-center text-3xl">
            Organizers
            <div class="mt-7 flex gap-x-8">
              <img ngSrc="assets/event/organizers/stargaze-1.png" width="152" height="37" alt="Stargaze logo" />
              <img ngSrc="assets/app/logo.svg" width="115" height="37" alt="ch0pch0p logo" />
            </div>
          </div>
          <div class="self-stretch border-r border-white"></div>
          <div class="font-bold text-center text-3xl">
            Sponsors
            <div class="mt-5 flex gap-x-8">
              <div class="relative rounded-md border-white w-[50px] h-[50px]">
                <img fill ngSrc="assets/event/sponsors/pixel-wizard.png" alt="Pixel Wizard logo" />
              </div>
              <div class="relative rounded-md border-white w-[50px] h-[50px]">
                <img fill ngSrc="assets/event/sponsors/omniflix.png" alt="Omniflix logo" />
              </div>
              <div class="relative rounded-md border-white w-[50px] h-[50px]">
                <img fill ngSrc="assets/event/sponsors/aura-network.png" alt="Aura Network logo" />
              </div>
              <div class="relative rounded-md border-white w-[50px] h-[50px]">
                <img fill ngSrc="assets/event/sponsors/ohhnft.png" alt="OhhNFT logo" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-40 section-heading section-heading--soar-left bg-caribbean-green">hi guys!</div>
      <div class="section-label mt-2 bg-lime-reverse text-[100px]">Why join?</div>
      <div class="mt-15 w-full flex gap-x-10">
        <div class="flip-card basis-1/3 aspect-square">
          <div class="rounded-7.5 border-3px-white p-10 text-pretty">
            Snag awesome <span class="font-semibold text-[#ffb000]">prizes valued up to $2000</span> provided by our
            partners and exhibitors. Embarking on a gaming adventure with 10+ games spanning 3-day event. Don't miss
            your golden opportunity!
          </div>
          <img fill ngSrc="assets/event/prizes.png" alt="prizes" class="rounded-7.5" />
        </div>
        <div class="flip-card basis-1/3 aspect-square">
          <div class="rounded-7.5 border-3px-white p-10 text-pretty">
            Provide a unique chance to expand and elevate your network. This event is your passport to Cosmos NFT
            connections, offering a unique opportunity to collaborate, share ideas, and be part of a transformative
            movement.
          </div>
          <img fill ngSrc="assets/event/insights.png" alt="insights" class="rounded-7.5" />
        </div>
        <div class="flip-card basis-1/3 aspect-square">
          <div class="rounded-7.5 border-3px-white p-10 text-pretty">
            Prepare for a thought-provoking journey at our Conference with top leaders and renowned speakers, discussing
            diverse perspectives and experiences, offering insights to inspire and broaden your understanding of the NFT
            landscape.
          </div>
          <img fill ngSrc="assets/event/impact.png" alt="impact" class="rounded-7.5" />
        </div>
      </div>

      <div class="mt-40 section-heading section-heading--soar-left bg-purple">diverse participation!</div>
      <div class="section-label mt-3 bg-beauty text-[100px]">Exhibitors</div>
      <div class="mt-15 flex gap-x-10">
        <img ngSrc="assets/event/exhibitors/stargaze.png" width="280" height="280" alt="Stargaze logo" />
        <img ngSrc="assets/event/exhibitors/ch0pch0p.png" width="280" height="280" alt="ch0pch0p logo" />
        <img ngSrc="assets/event/exhibitors/pixel-wizard.png" width="280" height="280" alt="Pixel Wizard logo" />
      </div>
      <div class="mt-10 flex gap-x-10">
        <img ngSrc="assets/event/exhibitors/rekt-gang.png" width="280" height="280" alt="Rekt Gang logo" />
        <img ngSrc="assets/event/exhibitors/aura-network.png" width="280" height="280" alt="Aura Network logo" />
        <img ngSrc="assets/event/exhibitors/omniflix.png" width="280" height="280" alt="Omniflix logo" />
        <img ngSrc="assets/event/exhibitors/ohhnft.png" width="280" height="280" alt="OhhNFT logo" />
      </div>
      <div class="mt-10 flex gap-x-10">
        <img ngSrc="assets/event/exhibitors/bad-kids.png" width="216" height="216" alt="Bad Kids logo" />
        <img ngSrc="assets/event/exhibitors/shrimp-club.png" width="216" height="216" alt="Shrimp Club logo" />
        <img ngSrc="assets/event/exhibitors/bad-pets.png" width="216" height="216" alt="Bad Pets logo" />
        <img ngSrc="assets/event/exhibitors/sneaky-animal.png" width="216" height="216" alt="Sneaky Animal logo" />
        <img ngSrc="assets/event/exhibitors/hitobito.png" width="216" height="216" alt="Hitobito logo" />
      </div>
      <div class="mt-10 flex gap-x-10">
        <img ngSrc="assets/event/exhibitors/8-bit-cities.png" width="216" height="216" alt="8-bit Cities logo" />
        <img ngSrc="assets/event/exhibitors/anyo.png" width="216" height="216" alt="ANYO logo" />
        <img ngSrc="assets/event/exhibitors/cosmos-kiwis.png" width="216" height="216" alt="Cosmos Kiwis logo" />
        <img ngSrc="assets/event/exhibitors/proto-towers.png" width="216" height="216" alt="Proto Towers logo" />
        <img ngSrc="assets/event/exhibitors/zom-bs.png" width="216" height="216" alt="ZomBs logo" />
      </div>

      <div class="mt-40 section-heading section-heading--soar-right bg-vivid-cerulean">introducing</div>
      <div class="section-label mt-3 bg-blue-sky text-[100px]">Speakers</div>
      <div class="mt-15 flex justify-center flex-wrap gap-x-10 gap-y-10">
        <ng-template #speaker let-img="img" let-name="name" let-title="title">
          <div class="rounded-3xl border-3px-white box-border p-3 flex flex-col items-center">
            <img [ngSrc]="img" width="248" height="248" [alt]="name" class="rounded-lg" />
            <div class="mt-2 font-bold text-2xl">{{ name }}</div>
            <div class="mt-2 bg-ultramarine-blue py-1 px-2 font-fredoka text-lg">{{ title }}</div>
          </div>
        </ng-template>

        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/shanev.png', name: 'Shane', title: 'Co-founder of Stargaze' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/lethang.png', name: 'Le Thang', title: 'Founder ch0pch0p NFT' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/zerk.png', name: 'Zerk', title: 'Founder of Rekt Gang' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/cortlandt.png', name: 'Cortlandt', title: 'Founder of Bad Kids' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: {
              img: 'assets/event/speakers/don-cryptonium.png',
              name: 'Don Cryptonium',
              title: '@cryptoniummaker'
            }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/wolfmanknows.png', name: 'WolfmanKnows', title: 'Founder of OhhNFT' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/cosmos-joe.png', name: 'Cosmos Joe', title: '@CosmosDefi' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: {
              img: 'assets/event/speakers/lex-avellino.png',
              name: 'Lex Avellino',
              title: 'Founder and CCO of Passage'
            }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/long-nguyen.png', name: 'Long Nguyen', title: 'CTO of Aura Network' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: { img: 'assets/event/speakers/sistla.png', name: 'Sistla', title: 'Founder of OmniFlix' }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            speaker;
            context: {
              img: 'assets/event/speakers/abhitej-singh.png',
              name: 'Abhitej Singh',
              title: 'Filament Finance'
            }
          "
        />
      </div>

      <div class="mt-40 section-heading section-heading--soar-left bg-school-bus-yellow">what to expect?</div>
      <div class="section-label mt-3 bg-budd text-[100px]">Inside The Event</div>

      <ng-template #panelHeader let-expanded="expanded" let-bg="bg" let-label="label" let-description="description">
        <div class="flex justify-between items-center gap-x-10">
          <div class="shrink-0 w-[500px] font-monotalic font-bold text-5xl">
            <div class="w-fit" [class]="expanded ? '' : 'bg-clip-text ' + bg">{{ label }}</div>
          </div>
          <div class="font-light text-lg leading-normal" [innerHTML]="description"></div>
          <mat-icon class="!w-[60px] !h-[60px] shrink-0 text-6xl" [class.text-amber]="!expanded">
            {{ expanded ? 'south_east' : 'north_east' }}
          </mat-icon>
        </div>
      </ng-template>

      <ng-template #insideContainer let-date="date" let-time="time" let-content="content">
        <div class="mt-[30px] flex items-center font-fredoka first:mt-0">
          <div class="shrink-0 w-[469px]">
            <div class="font-medium text-3xl">Date: {{ date }}</div>
            <div class="mt-2 font-medium text-3xl">Time: {{ time }}</div>
          </div>
          <div class="self-stretch mr-[70px] border-r-2 border-white"></div>
          <div class="font-light text-lg leading-normal">
            <ng-container *ngTemplateOutlet="content" />
          </div>
        </div>
      </ng-template>

      <mat-expansion-panel #exhibition hideToggle displayMode="flat" class="!mt-15 !rounded-5 border-3px-white !bg-app">
        <mat-expansion-panel-header
          class="!rounded-none !h-min !py-5 !pr-6 !pl-10"
          [class]="exhibition.expanded ? 'border-b-[3px] border-white !bg-toxic' : ''"
        >
          <ng-container
            *ngTemplateOutlet="
              panelHeader;
              context: {
                expanded: exhibition.expanded,
                bg: 'bg-toxic',
                label: 'Exhibition',
                description:
                  'Showcasing 15+ innovative and outstanding NFT projects on Cosmos. Immerse yourself in a universe\
                  where digital art and blockchain technology collide.'
              }
            "
          />
        </mat-expansion-panel-header>

        <ng-template #exhibitionContent>
          <div>
            Step into the vibrant universe of Cosmos as we showcase a curated collection of 15+ top-tier NFT projects.
            Join us to explore the limitless potential of NFTs and witness visionary leaders.
          </div>
        </ng-template>

        <div class="pt-8 px-4 pb-6">
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 8 - 10, 2024', time: 'All day', content: exhibitionContent }
            "
          />
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel #conference hideToggle displayMode="flat" class="!mt-10 !rounded-5 border-3px-white !bg-app">
        <mat-expansion-panel-header
          class="!rounded-none !h-min !py-5 !pr-6 !pl-10"
          [class]="conference.expanded ? 'border-b-[3px] border-white !bg-lunar' : ''"
        >
          <ng-container
            *ngTemplateOutlet="
              panelHeader;
              context: {
                expanded: conference.expanded,
                bg: 'bg-lunar',
                label: 'Conference',
                description:
                  'Sharing ideas and stories through a series of insightful keynote, panel discussions, showcased by\
                  the most visionary founders, artist, and investors in Cosmos.'
              }
            "
          />
        </mat-expansion-panel-header>

        <ng-template #conferenceContent1>
          <div class="font-semibold text-3xl">Keynote: A brief history & the future of NFTs</div>
          <div class="mt-2"><span class="font-semibold">Speaker:</span>&nbsp;Shane Vitarana - Stargaze Co-founder</div>
        </ng-template>

        <ng-template #conferenceContent2>
          <div class="font-semibold text-3xl">Panel Discussion: How to spot & evaluate potential NFT projects?</div>
          <div class="mt-2"><span class="font-semibold">Moderator:</span>&nbsp;Le Thang, Founder of ch0pch0p NFT</div>
          <div class="mt-2 font-semibold">Panelists:</div>
          <ul class="mt-2">
            <li>Don at &#64;cryptoniummaker</li>
            <li>Cortlandt, Founder of Bad Kids</li>
            <li>Zerk, Founder of Rekt Gang</li>
            <li>WolfmanKnows, Founder of OhhNFT</li>
          </ul>
        </ng-template>

        <ng-template #conferenceContent3>
          <div class="font-semibold text-3xl">Interactive Session: NFTs use cases<br />beyond PFP</div>
          <div class="mt-2"><span class="font-semibold">Moderator:</span>&nbsp;Cosmos Joe (&#64;CosmosDefi)</div>
          <div class="mt-2 font-semibold">Speakers:</div>
          <ul class="mt-2">
            <li>Lex Avellino, Founder and CCO of Passage</li>
            <li>Long Nguyen, CTO of Aura Network</li>
            <li>Sistla, Founder of OmniFlix</li>
            <li>Abhitej Singh, Co-Founder of Filament Finance</li>
          </ul>
        </ng-template>

        <div class="pt-8 px-4 pb-6">
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 10, 2024', time: '13:10 - 13:40 (UTC)', content: conferenceContent1 }
            "
          />
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 10, 2024', time: '13:50 - 14:50 (UTC)', content: conferenceContent2 }
            "
          />
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 10, 2024', time: '14:50 - 15:50 (UTC)', content: conferenceContent3 }
            "
          />
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel #gameTown hideToggle displayMode="flat" class="!mt-10 !rounded-5 border-3px-white !bg-app">
        <mat-expansion-panel-header
          class="!rounded-none !h-min !py-5 !pr-6 !pl-10"
          [class]="gameTown.expanded ? 'border-b-[3px] border-white !bg-lime-reverse' : ''"
        >
          <ng-container
            *ngTemplateOutlet="
              panelHeader;
              context: {
                expanded: gameTown.expanded,
                bg: 'bg-lime-reverse',
                label: 'Game Town',
                description:
                  '\<p\>$2000++ prizes are waiting for your captivation. Exploring various games designed for your\
                  enjoyment in this once-in-a-lifetime event.\<\/p\>\<div\>Win some $STARS, tokens or an NFT\
                  valued $100?\<\/div\>'
              }
            "
          />
        </mat-expansion-panel-header>

        <ng-template #gameTownContent1>
          <div class="font-semibold text-3xl">Play & win at Game Town</div>
          <ul class="mt-10">
            <li>
              Treasure hunt hosted by ch0pch0p: Explore the space & collect 7 traits to receive an exclusive gift valued
              $150 by ch0pch0p.
            </li>
            <li>
              ch0pch0p gacha game hosted by ch0pch0p: play gacha game and win 42+ NFTs from exhibitors valued up to
              $2000.
            </li>
            <li>Flappy Don hosted by ohhNFT: Top 3 winners will receive gifts from ohhNFT.</li>
          </ul>
        </ng-template>

        <ng-template #gameTownContent2>
          <div class="font-semibold text-3xl">Live Game event</div>
          <div class="mt-2">
            Reaching for the stars to win NFTs and incredible prizes during a series of games hosted on Saturday
            afternoon by exhibitors, including:
          </div>
          <ul class="mt-2">
            <li>[Live] Rekt Racing (Open for all participants)</li>
            <li>[Live] Sneaky Animal Guessing Game</li>
          </ul>
        </ng-template>

        <div class="pt-8 px-4 pb-6">
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 8 - 10, 2024', time: 'All day', content: gameTownContent1 }
            "
          />
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 9, 2024', time: '15:00 - 17:00 (UTC)', content: gameTownContent2 }
            "
          />
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel #award hideToggle displayMode="flat" class="!mt-10 !rounded-5 border-3px-white !bg-app">
        <mat-expansion-panel-header
          class="!rounded-none !h-min !py-5 !pr-6 !pl-10"
          [class]="award.expanded ? 'border-b-[3px] border-white !bg-pimple' : ''"
        >
          <ng-container
            *ngTemplateOutlet="
              panelHeader;
              context: {
                expanded: award.expanded,
                bg: 'bg-pimple',
                label: 'Cosmos NFT Award',
                description:
                  'Honoring remarkable accomplishments and contributions in the Cosmos NFT sphere made by individuals, projects, and organizations.'
              }
            "
          />
        </mat-expansion-panel-header>

        <ng-template #awardContent>
          <div>
            Celebrating the outstanding achievements and contributions made by individuals, projects, and organizations
            in the realm of Non-Fungible Tokens in Cosmos.
          </div>
          <div class="mt-5 font-semibold text-3xl">Vote for your favorite projects</div>
          <ol class="mt-2">
            <li>Best NFT Collection</li>
            <li>Best Original Art</li>
            <li>Best NFT Community</li>
          </ol>
          <div class="mt-5 font-semibold text-3xl">Terms & Conditions</div>
          <ul class="mt-2">
            <li>All exhibitors who join the event will become nominees.</li>
            <li>Live voting starts during the exhibition.</li>
            <li>Every attendee will have 1 vote for each category.</li>
          </ul>
        </ng-template>

        <div class="pt-8 px-4 pb-6">
          <ng-container
            *ngTemplateOutlet="
              insideContainer;
              context: { date: 'March 10, 2024', time: '16:00 - 17:00 (UTC)', content: awardContent }
            "
          />
        </div>
      </mat-expansion-panel>

      <div class="mt-40 section-heading section-heading--soar-right bg-ultramarine-blue">exciting activities!</div>
      <div class="section-label mt-3 bg-freeze text-[100px]">Agenda</div>
      <div class="mt-15 flex gap-x-10">
        <button
          mat-flat-button
          class="!rounded-2xl !border-3px-white !bg-app !py-7 !px-11 !text-3xl"
          [class]="agendaDay() === 1 ? 'bg-on-border !border-transparent !bg-dawn !bg-center !text-black' : ''"
          (click)="agendaDay.set(1)"
        >
          Mar 08
        </button>
        <button
          mat-flat-button
          class="!rounded-2xl !border-3px-white !bg-app !py-7 !px-11 !text-3xl"
          [class]="agendaDay() === 2 ? 'bg-on-border !border-transparent !bg-dawn !bg-center !text-black' : ''"
          (click)="agendaDay.set(2)"
        >
          Mar 09
        </button>
        <button
          mat-flat-button
          class="!rounded-2xl !border-3px-white !bg-app !py-7 !px-11 !text-3xl"
          [class]="agendaDay() === 3 ? 'bg-on-border !border-transparent !bg-dawn !bg-center !text-black' : ''"
          (click)="agendaDay.set(3)"
        >
          Mar 10
        </button>
      </div>
      <div class="mt-10 w-[966px] font-fredoka font-semibold text-2xl">
        <div class="border-t border-white"></div>

        <ng-template #agenda let-time="time" let-content="content">
          <div class="border-b border-white py-5 pl-2 flex gap-x-10">
            <div class="basis-1/4 shrink-0 font-monotalic text-xl">{{ time }}</div>
            <ng-container *ngTemplateOutlet="content" />
          </div>
        </ng-template>

        <ng-template #content1>
          <div>Open Exhibition & Game Town<br />Cosmos NFT Award vote</div>
        </ng-template>

        @switch (agendaDay()) {
          @case (1) {
            <ng-container *ngTemplateOutlet="agenda; context: { time: '09:00 (UTC)', content: content1 }" />
          }
          @case (2) {
            <ng-template #content2>
              <div>[Live] Rekt Racing&nbsp;<span class="font-light">(Open for all participants)</span></div>
            </ng-template>

            <ng-template #content3>
              <div>[Live] Sneaky Animal Guessing Game</div>
            </ng-template>

            <ng-container *ngTemplateOutlet="agenda; context: { time: '09:00 (UTC)', content: content1 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '15:00 - 16:00 (UTC)', content: content2 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '16:00 - 17:00 (UTC)', content: content3 }" />
          }
          @case (3) {
            <ng-template #content2>
              <div>Opening speech from Organizers</div>
            </ng-template>

            <ng-template #contentExpansion let-header="header" let-content="content">
              <mat-expansion-panel #expansion hideToggle displayMode="flat" class="grow !bg-app">
                <mat-expansion-panel-header class="!h-min !p-0 !font-semibold !text-2xl">
                  <div class="w-full pr-1 flex items-center justify-between">
                    <div>{{ header }}</div>
                    <img
                      ngSrc="assets/event/arrow-right.png"
                      width="25"
                      height="19"
                      alt="arrow"
                      class="h-fit transition-transform"
                      [class.rotate-90]="expansion.expanded"
                    />
                  </div>
                </mat-expansion-panel-header>
                <div class="-mx-6 -mb-4 pt-2 font-fredoka font-thin text-xl">
                  <ng-container *ngTemplateOutlet="content" />
                </div>
              </mat-expansion-panel>
            </ng-template>

            <ng-template #content3>
              <ng-template #content>
                <span class="font-semibold">Keynote Speaker:</span>&nbsp;Shane Vitarana, Co-Founder Stargaze
              </ng-template>

              <ng-container
                *ngTemplateOutlet="
                  contentExpansion;
                  context: { header: 'Keynote: A brief history & the future of NFT', content }
                "
              />
            </ng-template>

            <ng-template #content4>
              <div>Break time</div>
            </ng-template>

            <ng-template #content5>
              <ng-template #content>
                <div><span class="font-semibold">Moderator:</span>&nbsp;Le Thang, Founder ch0pch0p NFT</div>
                <div class="mt-2 font-semibold">Panelists:</div>
                <ul class="mt-2">
                  <li>Don at &#64;cryptoniummaker</li>
                  <li>Cortlandt, Founder of Bad Kids</li>
                  <li>Zerk, Founder of Rekt Gang</li>
                  <li>WolfmanKnows, Founder of OhhNFT</li>
                </ul>
              </ng-template>

              <ng-container
                *ngTemplateOutlet="
                  contentExpansion;
                  context: { header: 'Panel Discussion: How to spot & evaluate potential NFT projects?', content }
                "
              />
            </ng-template>

            <ng-template #content6>
              <ng-template #content>
                <div><span class="font-semibold">Moderator:</span>&nbsp;Cosmos Joe (&#64;CosmosDefi)</div>
                <div class="mt-2 font-semibold">Panelists:</div>
                <ul class="mt-2">
                  <li>Lex Avellino, Founder and CCO of Passage</li>
                  <li>Long Nguyen, CTO of Aura Network</li>
                  <li>Sistla, Founder of OmniFlix</li>
                  <li>Abhitej Singh, Co-Founder of Filament Finance</li>
                </ul>
              </ng-template>

              <ng-container
                *ngTemplateOutlet="
                  contentExpansion;
                  context: { header: 'Interactive Session: NFTs use cases beyond PFP', content }
                "
              />
            </ng-template>

            <ng-template #content7>
              <div>ch0pch0p Egg Hatch Countdown & Celebration (tentative)</div>
            </ng-template>

            <ng-template #content8>
              <div>Cosmos NFT Award 2024 Ceremony</div>
            </ng-template>

            <ng-container *ngTemplateOutlet="agenda; context: { time: '09:00 (UTC)', content: content1 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '13:00 - 13:10 (UTC)', content: content2 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '13:10 - 13:40 (UTC)', content: content3 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '13:40 - 13:50 (UTC)', content: content4 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '13:50 - 14:50 (UTC)', content: content5 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '14:50 - 15:50 (UTC)', content: content6 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '15:50 - 16:00 (UTC)', content: content7 }" />
            <ng-container *ngTemplateOutlet="agenda; context: { time: '16:00 - 16:30 (UTC)', content: content8 }" />
          }
        }
      </div>

      <div class="mt-40 section-heading section-heading--soar-left bg-red">come join us!</div>
      <div class="section-label mt-3 bg-budd text-[100px]">Get Your Ticket</div>
      <div class="mt-15 w-full flex gap-x-5">
        <ng-template
          #ticket
          let-bg="bg"
          let-ticketName="ticketName"
          let-ticketPrice="ticketPrice"
          let-currency="currency"
          let-ticket="ticket"
          let-content="content"
          let-buyTicketLabel="buyTicketLabel"
        >
          <div class="relative basis-1/3 rounded-5 bg-[#292929] pt-6 px-6 pb-16">
            <div class="relative rounded-lg h-[182px] px-10 text-black flex overflow-hidden" [class]="bg">
              <div class="ticket-cut"></div>
              <div class="ticket-cut"></div>
              <div class="grow flex flex-col">
                <div class="grow pt-4 pb-px pl-3 font-bold text-5xl uppercase" [innerHTML]="ticketName"></div>
                <div class="flex items-center justify-end">
                  @if (currency) {
                    <span class="text-3xl">$&nbsp;</span>
                  }
                  <span class="font-medium text-6xl">{{ ticketPrice }}</span>
                </div>
              </div>
            </div>
            <div class="mt-5 px-8 font-fredoka text-lg"><ng-container *ngTemplateOutlet="content" /></div>
            <button
              mat-button
              (click)="buyTicket(ticket)"
              class="ticket-buy-btn !rounded-full w-56 !py-9 !font-bold !text-xl !text-black"
              [class]="bg"
            >
              {{ buyTicketLabel }}
            </button>
          </div>
        </ng-template>

        <ng-template #commonPrivilege>
          <p>Full access to <span class="font-semibold text-2xl">3-day event</span></p>
          <p>Participate in <span class="font-semibold text-2xl">all games</span> during the event</p>
          <p>
            Grab <span class="font-semibold text-2xl">unlimited</span> awesome prizes
            <span class="font-semibold text-2xl">up to $2k</span>
          </p>
          <p><span class="font-semibold text-2xl">Vote</span> for your favourite collections</p>
        </ng-template>

        <ng-template #ch0ppersTicketContent>
          <div class="mb-3 font-fredoka font-semibold text-2xl text-electric-purple">
            HOLD 5 ch0pch0p TO GET A FREE STANDARD TICKET
          </div>
          <ng-container *ngTemplateOutlet="commonPrivilege" />
        </ng-template>

        <ng-container
          *ngTemplateOutlet="
            ticket;
            context: {
              bg: '!bg-beauty',
              ticketName: 'ch0p\<br /\>-pers',
              ticketPrice: 'Free',
              ticket: TICKET.CH0PPERS,
              content: ch0ppersTicketContent,
              buyTicketLabel: 'join now'
            }
          "
        ></ng-container>

        <ng-template #standardTicketContent>
          <ng-container *ngTemplateOutlet="commonPrivilege" />
        </ng-template>

        <ng-container
          *ngTemplateOutlet="
            ticket;
            context: {
              bg: '!bg-lime',
              ticketName: 'stan\<br /\>-dard',
              ticketPrice: '10',
              currency: '$',
              ticket: TICKET.STANDARD,
              content: standardTicketContent,
              buyTicketLabel: 'buy now'
            }
          "
        ></ng-container>

        <ng-template #donorTicketContent>
          <ng-container *ngTemplateOutlet="commonPrivilege" />
          <p>
            Give ch0pch0p <span class="font-semibold text-2xl">a coffee with extra $5</span> for the standard ticket
          </p>
        </ng-template>

        <ng-container
          *ngTemplateOutlet="
            ticket;
            context: {
              bg: '!bg-budd',
              ticketName: 'donor',
              ticketPrice: '15',
              currency: '$',
              ticket: TICKET.DONOR,
              content: donorTicketContent,
              buyTicketLabel: 'buy & donate'
            }
          "
        ></ng-container>
      </div>

      <div class="mt-40 section-heading section-heading--soar-right bg-purple">dedicated contributors!</div>
      <div class="section-label mt-3 bg-toxic text-[100px]">About Organizers</div>
      <div class="mt-15 flex gap-x-15 font-fredoka text-xl">
        <div class="basis-1/2 flex flex-col items-center text-justify">
          <img
            ngSrc="assets/event/organizers/lethang.png"
            width="176"
            height="176"
            alt="Le Thang"
            class="rounded-full"
          />
          <img ngSrc="assets/event/organizers/ch0pch0p.png" width="210" height="72" alt="ch0pch0p logo" class="mt-3" />
          <p class="!mt-10">
            Being a Cosmos community member since early 2021 and a founder of ch0pch0p NFT, Thang recognized that Cosmos
            has an organic community but lacks a centralized party to coordinate things and unite people.
          </p>
          <p>
            Hence, we decided to organize the first virtual Cosmos NFT Conference. This is a place for like-minded
            people to share their thoughts, recognize their contributions and also for NFT projects to showcase their
            works.
          </p>
        </div>
        <div class="basis-1/2 flex flex-col items-center">
          <img
            ngSrc="assets/event/organizers/stargaze-2.png"
            width="176"
            height="176"
            alt="Stargaze logo"
            class="rounded-full"
          />
          <img
            ngSrc="assets/event/organizers/stargaze-1.png"
            width="232"
            height="56"
            alt="Stargaze logo"
            class="mt-8"
          />
          <div class="mt-11">
            Mint and trade NFTs on the fastest community-owned app chain, secured and governed by $STARS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
