:host {
  height: 100%;
  overflow: auto;
  display: block;

  .universe-container {
    min-width: 1440px;
    background:
      url('/assets/event/spaceship.png') no-repeat top 64px left calc(50% + 560px) / auto 800px,
      url('/assets/event/bg-banner.png') no-repeat top / 1440px,
      url('/assets/event/bg-footer.png') no-repeat bottom / 1440px,
      url('/assets/event/bg-stars.png') top;

    .constellation {
      margin: 0 auto;
      width: 1440px;
      padding: 0 100px 160px;
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        padding-inline-start: 36px;

        li {
          list-style: outside;

          &:not(:first-child) {
            margin-top: 4px;
          }
        }
      }

      ol {
        padding-inline-start: 36px;

        li {
          list-style: decimal;

          &:not(:first-child) {
            margin-top: 4px;
          }
        }
      }

      .flip-card {
        position: relative;

        > img {
          backface-visibility: hidden;
          transition: transform 0.5s;
        }

        > div {
          position: absolute;
          inset: 0;
          line-height: 110%;
          font-size: 24px;
          transform: rotateY(180deg);
          backface-visibility: hidden;
          transition: transform 0.5s;
        }

        &:hover {
          > img {
            transform: rotateY(180deg);
          }

          > div {
            transform: rotateY(360deg);
          }
        }
      }

      .bg-on-border {
        background-size: calc(100% + 6px) calc(100% + 6px);
      }

      .ticket-cut {
        position: absolute;
        border-radius: 80px;
        width: 80px;
        height: 80px;
        background-color: #292929;

        &:nth-child(1) {
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }
      }

      .ticket-buy-btn {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
