<div class="self-start w-1/2 flex flex-col items-start">
  <div class="section-heading section-heading--soar-left section-heading--normal-margin bg-ultramarine-blue">
    virtual event
  </div>
  <div class="section-label mt-8 bg-evil text-left text-[140px] uppercase">Cosmos NFT Conference</div>
  <div class="mt-14 text-5xl font-bold">09-10 March, 2024</div>
  <div class="mt-4 text-[40px]">Gather town</div>
</div>

<div class="mt-40 section-label bg-lime-reverse text-[100px]">Why join?</div>
<div class="mt-15 w-full flex gap-x-10">
  <ng-template #flipCard let-content="content" let-imgSrc="imgSrc" let-alt="alt">
    <div class="flip-card basis-1/3 aspect-square">
      <div class="white-border p-10 text-pretty font-fredoka text-lg">{{ content }}</div>
      <img fill [ngSrc]="imgSrc" [alt]="alt" class="rounded-10" />
    </div>
  </ng-template>

  <ng-container
    *ngTemplateOutlet="
      flipCard;
      context: {
        imgSrc: 'assets/event/prizes.png',
        alt: 'prizes',
        content:
          'Embark on a gaming adventure with over 10+ games spanning 2-day event. Don\'t miss your golden opportunity to dive into the action, compete with fellow enthusiasts, and snag awesome prizes valued up to $200, provided by our partners and exhibitors.'
      }
    "
  />
  <ng-container
    *ngTemplateOutlet="
      flipCard;
      context: {
        imgSrc: 'assets/event/insights.png',
        alt: 'insights',
        content:
          'Provide a unique chance to expand and elevate your network. This event is your passport to global connections, offering a unique opportunity to collaborate, share ideas, and be part of a transformative movement.'
      }
    "
  />
  <ng-container
    *ngTemplateOutlet="
      flipCard;
      context: {
        imgSrc: 'assets/event/impact.png',
        alt: 'impact',
        content:
          'Prepare for a thought-provoking journey at our Conference with top leaders and renowned speakers, discussing diverse perspectives and experiences, offering insights to inspire and broaden your understanding of the NFT landscape.'
      }
    "
  />
</div>

<div class="section-heading section-heading--soar-left section-heading--normal-margin bg-purple">what to expect?</div>
<div class="section-label mt-8 bg-beauty text-[100px]">Exhibitors</div>
<div class="mt-16 flex flex-wrap justify-center gap-16">
  <img ngSrc="assets/event/exhibitor/01-Hitobito.png" width="200" height="200" alt="Hitobito logo" />
  <img ngSrc="assets/event/exhibitor/02-Bad-Pets.jpeg" width="200" height="200" alt="Bad Pets logo" />
  <img ngSrc="assets/event/exhibitor/03-Bad-Kids.jpeg" width="200" height="200" alt="Bad Kids logo" />
  <img ngSrc="assets/event/exhibitor/05-Omniflix-Network.svg" width="200" height="200" alt="Omniflix Network logo" />
  <img ngSrc="assets/event/exhibitor/06-Pixel-Wizards.png" width="200" height="200" alt="Pixel Wizards logo" />
  <img ngSrc="assets/event/exhibitor/07-Shrimp-Club.jpeg" width="200" height="200" alt="Shrimp Club logo" />
  <img ngSrc="assets/event/exhibitor/09-Sneaky-Animals.png" width="256" height="200" alt="Sneaky Animal logo" />
  <img ngSrc="assets/event/exhibitor/10-ANYO.jpeg" width="200" height="200" alt="ANYO logo" />
  <img ngSrc="assets/event/exhibitor/11-Cosmos-Kiwis.jpeg" width="200" height="200" alt="Cosmos Kiwis logo" />
  <img ngSrc="assets/event/exhibitor/12-Rekt-Gang.jpeg" width="200" height="200" alt="Rekt Gang logo" />
  <img ngSrc="assets/event/exhibitor/13-Aura-Network.jpeg" width="200" height="200" alt="Aura Network logo" />
  <img ngSrc="assets/event/exhibitor/14-ohhNFT.webp" width="208.97" height="200" alt="Bad Pets logo" />
</div>

<div class="section-heading section-heading--soar-right section-heading--normal-margin bg-vivid-cerulean">
  introducing
</div>
<div class="section-label mt-8 bg-blue-sky text-[100px]">Speakers</div>

<div class="mt-40 flex justify-between gap-x-40">
  <div class="section-label bg-moon-reverse text-left text-[100px]">Inside the events</div>
  <mat-accordion hideToggle displayMode="flat" class="flex flex-col gap-y-8">
    <mat-expansion-panel #inside_1 class="white-border !rounded-5 !bg-app">
      <mat-expansion-panel-header class="!h-min !py-5 !text-3xl flex justify-between items-center">
        <span class="font-monotalic leading-normal uppercase">Exhibiti0n</span>
        <div class="flex-1"></div>
        <mat-icon inline class="shrink-0 ml-4 text-amber">{{
          inside_1.expanded ? 'south_east' : 'north_east'
        }}</mat-icon>
      </mat-expansion-panel-header>
      <div class="flex items-center">
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Date: 09 - 10/03/2024</div>
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Time: All day</div>
      </div>
      <div class="mt-5 text-pretty font-fredoka text-xl">
        <p>
          Step into the vibrant universe of Cosmos as we showcase a curated collection of 15+ top-tier NFT projects.
          Join us to explore the limitless potential of NFTs and witness visionary leaders.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel #inside_2 class="white-border !rounded-5 !bg-app">
      <mat-expansion-panel-header class="!h-min !py-5 !text-3xl flex justify-between items-center">
        <span class="font-monotalic leading-normal uppercase">C0nference</span>
        <div class="flex-1"></div>
        <mat-icon inline class="shrink-0 ml-4 text-amber">{{
          inside_2.expanded ? 'south_east' : 'north_east'
        }}</mat-icon>
      </mat-expansion-panel-header>
      <div class="flex items-center">
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Date: 10/03/2024</div>
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Time: ????</div>
      </div>
      <div class="mt-5 text-pretty font-fredoka text-xl">
        <p>
          <span class="font-fredoka font-bold text-2xl">Panel discussion:</span>&nbsp;How to spot a hidden gem &
          evaluate on NFT project?
        </p>
        <p><span class="font-fredoka font-bold text-2xl">Panelists:</span></p>
        <ul>
          <li>Cortlandt, Founder of Bad Kids</li>
          <li>Zerk, Founder of Rekt Gang</li>
          <li>WolfmanKnows, Founder of OhhNFT</li>
        </ul>
        <p class="!mt-4"><span class="font-fredoka font-bold text-2xl">Host:</span></p>
        <p>
          <span class="font-fredoka font-bold text-2xl">Interactive session:</span>&nbsp;NFTs, AI, Metaverse & The New
          Internet
        </p>
        <p><span class="font-fredoka font-bold text-2xl">Panelists:</span></p>
        <ul>
          <li>Lex Avellino, Founder and CCO of Passage</li>
          <li>Long Nguyen, CTO of Aura Network</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel #inside_2 class="white-border !rounded-5 !bg-app">
      <mat-expansion-panel-header class="!h-min !py-5 !text-3xl flex justify-between items-center">
        <span class="font-monotalic leading-normal uppercase">Game</span>
        <div class="flex-1"></div>
        <mat-icon inline class="shrink-0 ml-4 text-amber">{{
          inside_2.expanded ? 'south_east' : 'north_east'
        }}</mat-icon>
      </mat-expansion-panel-header>
      <div class="flex items-center">
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Date: 09 - 10/03/2024</div>
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Time: ????</div>
      </div>
      <div class="mt-5 text-pretty font-fredoka text-xl">
        <p>
          <span class="font-fredoka font-bold text-2xl">What to expect?</span>
        </p>
        <p>
          Treasure hunt hosted by ch0pch0p: Collect 6 traits around the space to receive an exclusive gift by ch0pch0p
        </p>
        <p><span class="font-fredoka font-bold text-2xl">Side game event:</span></p>
        <p>
          Reaching for the stars to win NFTs and incredible prizes up to .... during a series of games hosted on Monday
          afternoon by exhibitors, including:
        </p>
        <ul>
          <li>Rekt Gang</li>
          <li>Racoon Community</li>
          <li>Sneaky team</li>
          <li>Flappy Bird by ???</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel #inside_2 class="white-border !rounded-5 !bg-app">
      <mat-expansion-panel-header class="!h-min !py-5 !text-3xl flex justify-between items-center">
        <span class="font-monotalic leading-normal uppercase">Cosmos NFT Award</span>
        <div class="flex-1"></div>
        <mat-icon inline class="shrink-0 ml-4 text-amber">{{
          inside_2.expanded ? 'south_east' : 'north_east'
        }}</mat-icon>
      </mat-expansion-panel-header>
      <div class="flex items-center">
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Date: 10/03/2024</div>
        <div class="basis-1/2 font-fredoka font-bold text-2xl">Time: ????</div>
      </div>
      <div class="mt-5 text-pretty font-fredoka text-xl">
        <p>
          Celebrating the outstanding achievements and contributions made by individuals, projects, and organizations in
          the realm of Non-Fungible Tokens in Cosmos.
        </p>
        <p><span class="font-fredoka font-bold text-2xl">Vote for your favorite projects</span></p>
        <ul>
          <li>Best NFT Collection</li>
          <li>Best NFT Artist</li>
          <li>Best NFT Community</li>
        </ul>
        <p class="!mt-4"><span class="font-fredoka font-bold text-2xl">Term & Conditions</span></p>
        <ul>
          <li>All exhibitors who join the event will become nominees.</li>
          <li>Live voting starts during the exhibition.</li>
          <li>Every attendee will have 1 vote for each category.</li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="mt-40 section-label bg-budd text-[100px]">Agenda</div>
<div>
  <div class="mt-15 rounded-5 w-full bg-white py-5 px-10 flex items-center justify-center gap-x-9">
    <div
      role="presentation"
      (click)="agendaStep.set(1)"
      class="text-4xl font-semibold font-fredoka cursor-pointer"
      [class]="agendaStep() === 1 ? 'text-black' : 'text-gray-300'"
    >
      Mar 08
    </div>
    <img ngSrc="assets/event/arrow-right.png" width="25" height="33" alt="arrow right" />
    <div
      role="presentation"
      (click)="agendaStep.set(2)"
      class="text-4xl font-semibold font-fredoka cursor-pointer"
      [class]="agendaStep() === 2 ? 'text-black' : 'text-gray-300'"
    >
      Mar 09
    </div>
    <img ngSrc="assets/event/arrow-right.png" width="25" height="33" alt="arrow right" />
    <div
      role="presentation"
      (click)="agendaStep.set(3)"
      class="text-4xl font-semibold font-fredoka cursor-pointer"
      [class]="agendaStep() === 3 ? 'text-black' : 'text-gray-300'"
    >
      Mar 10
    </div>
  </div>
  <div class="mt-8 grid grid-cols-5">
    <ng-template #agendaRow let-time="time" let-content="content">
      <div class="agenda-border h-16"></div>
      <div class="agenda-border h-16 text-2xl font-fredoka flex items-center justify-center">{{ time }}</div>
      <div class="agenda-border h-16"></div>
      <div class="agenda-border h-16 text-2xl font-fredoka flex items-center">{{ content }}</div>
      <div class="agenda-border h-16"></div>
    </ng-template>

    @switch (agendaStep()) {
      @case (1) {
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '09:00', content: 'Open exhibitions' }" />
      }
      @case (2) {
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '09:00', content: 'Open exhibitions' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '17:00', content: 'Rekt Racing' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '18:00', content: 'Raccoon Game' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '18:30', content: 'Sneaky animal game' }" />
      }
      @case (3) {
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '09:00', content: 'Open exhibitions' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '15:00 - 15:10', content: 'Welcome speech' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '15:10 - 15:40', content: 'Keynote' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '15:40 - 15:50', content: 'Break time' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '15:50 - 16:50', content: 'Panel 1' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '16:50 - 17:50', content: 'Panel 2' }" />
        <ng-container
          *ngTemplateOutlet="agendaRow; context: { time: '17:50 - 18:00', content: 'Egg hatch countdown' }"
        />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '18:00 - 18:30', content: 'Cosmos NFT award' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '18:30 - 18:40', content: 'Game award' }" />
        <ng-container *ngTemplateOutlet="agendaRow; context: { time: '18:40 - 18:50', content: 'End' }" />
      }
    }
  </div>
</div>

<div class="section-heading section-heading--soar-right section-heading--normal-margin bg-red">hi guys!</div>
<div class="section-label mt-8 bg-budd text-[100px]">Get Your Ticket</div>
<div class="mt-15 flex gap-x-10">
  <div class="relative rounded-10 w-[589px] bg-[#292929] pt-10 px-7 pb-20">
    <div class="relative h-[269px] bg-lunar px-16 flex overflow-hidden">
      <div class="ticket-cut"></div>
      <div class="ticket-cut"></div>
      <div class="grow flex flex-col">
        <div class="h-1/2 pt-6 flex items-center text-6xl uppercase">
          <div><span>stan</span><br /><span>-dard</span></div>
        </div>
        <div class="h-1/2 flex items-center justify-end">
          <span class="text-3xl">$&nbsp;</span><span class="text-[110px]">10</span>
        </div>
      </div>
    </div>
    <div class="mt-6 px-8">
      <div class="border-t border-solid border-white w-full"></div>
      <ul class="mt-8 font-fredoka text-3xl">
        <li>Full access to 3-day event</li>
        <li>Participate in all games during the event</li>
        <li>Grab unlimited awesome prize up to $2k</li>
        <li>Have a vote for your favourite collection</li>
      </ul>
    </div>
    <button
      mat-button
      (click)="buyTicket(TICKET.STANDARD)"
      class="ticket-buy-btn !rounded-full w-1/2 !bg-lunar !py-9 !text-lg font-bold !text-black"
    >
      Buy
    </button>
  </div>
  <div class="relative rounded-10 w-[589px] bg-[#292929] pt-10 px-7 pb-20">
    <div class="relative h-[269px] bg-budd px-16 flex overflow-hidden">
      <div class="ticket-cut"></div>
      <div class="ticket-cut"></div>
      <div class="grow flex flex-col">
        <div class="h-1/2 pt-6 flex items-center text-6xl uppercase">d0n0r</div>
        <div class="h-1/2 flex items-center justify-end">
          <span class="text-3xl">$&nbsp;</span><span class="text-[110px]">15</span>
        </div>
      </div>
    </div>
    <div class="mt-6 px-8">
      <div class="border-t border-solid border-white w-full"></div>
      <ul class="mt-8 font-fredoka text-3xl">
        <li>Full access to 3-day event</li>
        <li>Participate in all games during the event</li>
        <li>Grab unlimited awesome prize up to $2k</li>
        <li>Have a vote for your favourite collection</li>
        <li>Give organizers a coffee with extra $5 for the standard ticket</li>
      </ul>
    </div>
    <button
      mat-button
      (click)="buyTicket(TICKET.DONOR)"
      class="ticket-buy-btn !rounded-full w-1/2 !bg-budd !py-9 !text-lg font-bold !text-black"
    >
      Buy & Donate
    </button>
  </div>
</div>

<div class="mt-40 section-label bg-toxic text-[100px]">About Organizers</div>
<div class="mt-20 flex gap-x-15">
  <div class="w-[504px] flex flex-col items-center">
    <div class="relative rounded-full w-[268px] h-[268px] overflow-hidden">
      <img fill ngSrc="assets/team-intro/member-lethang.png" alt="Le Thang" />
    </div>
    <div class="relative mt-24 rounded-[30px] white-border py-20 px-8 text-center text-pretty font-fredoka text-lg">
      <img
        ngSrc="assets/event/organizer/ch0pch0p.svg"
        width="364"
        height="115"
        alt="ch0ph0p logo"
        class="organizer-logo"
      />
      <p>
        Being a Cosmos community member since early 2021 and a founder of ch0pch0p NFT, I recognized that Cosmos has an
        organic community but lacks a centralized party to coordinate things and unite people.
      </p>
      <p>
        Hence, we decided to organize the first virtual Cosmos NFT Conference. This is a place for like-minded people to
        share their thoughts, recognize their contributions and also for NFT projects to showcase their works.
      </p>
    </div>
  </div>
  <div class="w-[504px] flex flex-col items-center">
    <div class="relative rounded-full w-[268px] h-[268px] overflow-hidden">
      <img fill ngSrc="assets/event/organizer/shanev.jpg" alt="Shanev" />
    </div>
    <div class="relative mt-24 rounded-[30px] white-border py-20 px-8 text-center text-pretty font-fredoka text-lg">
      <img
        ngSrc="assets/event/organizer/stargaze.png"
        width="364"
        height="115"
        alt="Stargaze logo"
        class="organizer-logo"
      />
      <p>
        Being a Cosmos community member since early 2021 and a founder of ch0pch0p NFT, I recognized that Cosmos has an
        organic community but lacks a centralized party to coordinate things and unite people.
      </p>
      <p>
        Hence, we decided to organize the first virtual Cosmos NFT Conference. This is a place for like-minded people to
        share their thoughts, recognize their contributions and also for NFT projects to showcase their works.
      </p>
    </div>
  </div>
</div>
