@use '/src/stylings/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-trigger-button {
    order: 1;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(111deg, #311dcb 17.98%, #fb4831 84.27%);
    padding: 8px;

    > ::ng-deep .mat-mdc-button-touch-target {
      width: 40px;
      height: 40px;
    }

    @media (width >= #{variables.$tablet}) {
      order: 0;
      width: 70px;
      height: 70px;
      padding: 12px;

      > mat-icon {
        width: 100%;
        height: 100%;
        font-size: 46px;
      }

      > ::ng-deep .mat-mdc-button-touch-target {
        width: 70px;
        height: 70px;
      }
    }

    @media (width >= #{variables.$laptop}) {
      display: none !important;
    }
  }

  .inline-icon {
    height: 100%;
    width: fit-content;
    font-size: inherit;
  }
}
