<div class="section-heading section-heading--soar-right section-heading--normal-margin bg-rich-electric-pink">
  Lucky you!
</div>
<div class="section-label mt-6 bg-budd text-6xl tablet:mt-8 tablet:text-[100px]">Ch0p My S0ul</div>
<div class="mt-10 flex items-center">
  <img src="assets/app/info.png" alt="game info" />
  <span class="ml-3 text-2xl">How to play</span>
</div>
<div class="mt-20 flex justify-center items-end gap-x-44">
  <div>{{ machines?.[ST_MACHINE.REKT_GANG]?.status }}</div>
  <div>{{ machines?.[ST_MACHINE.CH0PCH0P]?.status }}</div>
</div>
