@use './variables';

.page-margin {
  --padding: 16px;

  padding-inline: var(--padding);

  .anti-padding {
    margin: 0 calc(var(--padding) * -1);
    width: calc(100% + calc(var(--padding) * 2));
  }

  @media (width >= #{variables.$tablet}) {
    --padding: 64px;
  }

  @media (width >= #{variables.$laptop}) {
    margin: 0 auto;
    max-width: 1310px;
  }

  @media (width >= #{variables.$desktop}) {
    margin: 0 auto;
    max-width: 1598px;
  }
}

.section-heading {
  padding: 10px 20px;
  text-align: center;
  text-wrap: balance;
  font-size: 20px;

  &--soar-left {
    transform: rotate(-3deg);
  }

  &--soar-right {
    transform: rotate(3deg);
  }

  &--normal-margin {
    margin-top: 60px;

    @media (width >= #{variables.$tablet}) {
      margin-top: 120px;
    }
  }

  @media (width >= #{variables.$tablet}) {
    padding: 20px 40px;
    font-size: 24px;
  }

  @media (width >= #{variables.$laptop}) {
    font-size: 30px;
  }
}

.section-label {
  text-align: center;
  font-family: variables.$headline-font;
  font-weight: 600;
  line-height: normal;
  -webkit-background-clip: text; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.border-3px-white {
  border: 3px solid white;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!border-3px-white {
  border: 3px solid white !important;
}

.pointer-events-none-container * {
  pointer-events: none;
}
