@use './variables';

/* stylelint-disable selector-class-pattern */
.mat-mdc-dialog-surface {
  border-radius: 30px !important;
  overflow: visible !important;
}

.mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}

.mat-mdc-select-panel {
  background-color: variables.$bg-app !important;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 10px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-width: 3px !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}
