@use '/src/stylings/variables';
@use 'section-1';

@keyframes fly {
  98.001%,
  0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg);
  }

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg);
  }

  15.001%,
  18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg);
  }

  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg);
  }

  40.001%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg);
  }

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg);
  }

  65.001%,
  68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg);
  }

  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg);
  }
}

@keyframes join-the-gang-slide {
  to {
    transform: translate(calc(-100% - var(--sibling-gap)));
  }
}

:host {
  height: 100%;
  display: block;
  overflow: auto;

  .white-border {
    border-radius: 40px;
    border: 3px solid white;
  }

  .flying-0 {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    animation: 50s linear 1s infinite fly;
  }

  .join-the-gang-slide {
    --sibling-gap: 20px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: var(--sibling-gap);
    white-space: nowrap;
    animation: 15s linear infinite join-the-gang-slide;

    &:last-child {
      margin-left: var(--sibling-gap);
    }

    @media (width >= #{variables.$tablet}) {
      --sibling-gap: 60px;
    }
  }

  .meet-the-team {
    $gap: 40px;

    margin-top: 40px;
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    display: flex;
    align-items: start;
    column-gap: $gap;

    > app-member-intro {
      flex-basis: calc(25% - $gap * 3 / 4);
      min-width: 250px;

      @media (width >= #{variables.$tablet}) {
        min-width: 372px;
      }
    }

    @media (width >= #{variables.$tablet}) {
      margin-top: 60px;
    }
  }
}
