@use '/src/stylings/variables';

:host {
  display: block;
  margin-top: calc(956px - var(--nav-container-padding) * 1px);

  .section-heading {
    border-radius: 20px;
    width: fit-content;
    padding: 20px 60px;
    font-size: 30px;
    line-height: normal;
  }

  .section-label {
    line-height: normal;
    font-family: variables.$headline-font;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(6px 6px var(--tw-shadow-color));
  }

  .white-border {
    border: 3px solid white;
  }

  #app-nav-container {
    animation: 6s linear calc(49s + (var(--section-scroll) * -55s)) 1 normal forwards paused container-hiding;

    @keyframes container-hiding {
      25% {
        border-radius: 60px;
      }
      100% {
        top: 0;
        right: 0;
        left: 0;
        border-radius: 0;
        padding-right: 40px;
        display: none;
      }
    }

    > app-nav {
      animation: 6s linear calc(49s + (var(--section-scroll) * -55s)) 1 normal forwards paused nav-hiding;

      @keyframes nav-hiding {
        25% {
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        100% {
          border-radius: 0;
        }
      }
    }
  }

  .grid-item {
    --animation-delay: calc((var(--col) * (6 - var(--row) + 1) / (9 * 6) * 54s) + (var(--section-scroll) * -55s));
    background-color: white;
    border: solid 1px #afafaf;
    animation: 1s linear var(--animation-delay) 1 normal forwards paused grid-item-grow;

    @keyframes grid-item-grow {
      to {
        background-color: #1a1a1a;
        border-color: #333;
      }
    }
  }

  .fly-kv {
    position: absolute;
    bottom: -19%;
    left: -20%;
    transform: rotate(7.66deg) scale(0.5);
    animation: 1s linear calc((var(--section-scroll) * -1s)) 1 normal forwards paused flying;

    @keyframes flying {
      50% {
        bottom: -120px;
        left: 50%;
        transform: rotate(0) scale(1) translate(-50%, -50%);
      }
      100% {
        bottom: 100%;
        left: 100%;
        transform: rotate(-7.66deg) scale(0.5);
      }
    }
  }

  .character-reveal {
    position: relative;
    flex-basis: 33.33%;
    aspect-ratio: 1 / 1;

    &:hover {
      animation: 0.5s linear 0s 1 normal forwards running flip-horizontal;
    }
  }

  .join-now-slide {
    display: flex;
    align-items: center;
    column-gap: 90px;
    white-space: nowrap;
    animation: 10s linear 0s infinite normal none running join-now-slide;
  }

  .c1-slide {
    animation: 10s linear 0s infinite normal none running c1-slide;
  }

  @keyframes join-now-slide {
    to {
      transform: translate(-149.95%);
    }
  }

  @keyframes c1-slide {
    to {
      transform: translate(-228.9%);
    }
  }

  @keyframes flip-horizontal {
    to {
      transform: rotateY(180deg);
    }
  }
}
