@use 'sass:math';
@use '/src/stylings/variables';

@keyframes rotate {
  to {
    transform: var(--container-transform) rotateY(360deg);
  }
}

:host {
  $quantity: 28;

  --size: 150;
  --gap: 20;

  height: calc((var(--size) * 3 + var(--gap) * 2) * 1px);
  overflow: hidden;
  display: block;

  .slide-container {
    --cir: calc(var(--size) * #{$quantity} + var(--gap) * (#{$quantity} - 1));
    --radius: calc(var(--cir) / 3.1416 / 2);
    --container-transform: translateZ(calc(var(--radius) * 1px)) perspective(3000px);

    position: relative;
    margin-inline: auto;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    transform: var(--container-transform);
    transform-style: preserve-3d;
    animation: calc(var(--cir) / 65 * 1s) linear infinite rotate;

    &:nth-child(1) {
      transform-origin: 50% calc(150% + var(--gap) * 1px);
    }

    &:nth-child(3) {
      transform-origin: 50% calc(-50% - var(--gap) * 1px);
    }

    &:not(:first-child) {
      margin-top: calc(var(--gap) * 1px);
    }

    > div {
      position: absolute;
      border: 1px solid transparent;
      backface-visibility: hidden;

      @for $i from 1 to $quantity + 1 {
        &:nth-child(#{$quantity}n + #{$i}) {
          transform: rotateY(#{math.div(360, $quantity) * $i}deg) translateZ(calc(var(--radius) * -1px));
        }
      }
    }
  }

  @media (width >= #{variables.$laptop}) {
    --size: 274;
    --gap: 40;
  }
}
