<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div><img fill [ngSrc]="'assets/c1-274-webp/' + (idx + 1) + '.png'" alt="collection asset" /></div>
    <div></div>
  }
</div>
<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div></div>
    <div><img fill [ngSrc]="'assets/c1-274-webp/' + (idx + 15) + '.png'" alt="collection asset" /></div>
  }
</div>
<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div><img fill [ngSrc]="'assets/c1-274-webp/' + (idx + 29) + '.png'" alt="collection asset" /></div>
    <div></div>
  }
</div>
