<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div>
      <img [src]="srcFolder + '/' + (idx + 1) + '.webp'" alt="collection asset" />
    </div>
    <div></div>
  }
</div>
<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div></div>
    <div>
      <img [src]="srcFolder + '/' + (idx + 15) + '.webp'" alt="collection asset" />
    </div>
  }
</div>
<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div>
      <img [src]="srcFolder + '/' + (idx + 29) + '.webp'" alt="collection asset" />
    </div>
    <div></div>
  }
</div>
