<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div [style.backgroundImage]="'url(assets/c1-274-webp/' + (idx + 1) + '.png)'"></div>
    <div></div>
  }
</div>
<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div></div>
    <div [style.backgroundImage]="'url(assets/c1-274-webp/' + (idx + 15) + '.png)'"></div>
  }
</div>
<div class="slide-container">
  @for (i of array(14); track i; let idx = $index) {
    <div [style.backgroundImage]="'url(assets/c1-274-webp/' + (idx + 29) + '.png)'"></div>
    <div></div>
  }
</div>
