<div class="mt-10 section-heading section-heading--soar-right bg-rich-electric-pink">Lucky you!</div>
<div class="section-label mt-2.5 bg-budd text-[100px]">Ch0p My S0ul</div>
<div class="mt-10 flex items-center">
  <img src="assets/app/info.png" alt="game info" />
  <span class="ml-3 text-2xl">How to play</span>
</div>
<div class="mt-10 h-[576px] flex justify-center items-end gap-x-44">
  <ng-template #machine let-machine="machine" let-status="status">
    <div class="relative">
      <img
        [src]="'assets/game/' + machine + '-' + (status || MACHINE_STATUS.COMING_SOON) + '.png'"
        width="340"
        height="600"
        [alt]="machine + ' machine'"
      />
      @if (status === MACHINE_STATUS.AVAILABLE) {
        <a
          mat-button
          [routerLink]="machine"
          class="!absolute inset-x-20 bottom-6 !rounded-full !py-11 !text-xl !font-bold !text-black"
        >
          choose
        </a>
      }
    </div>
  </ng-template>

  <ng-container
    *ngTemplateOutlet="
      machine;
      context: {
        machine: NP_MACHINE.CNC,
        status: machines()?.[NP_MACHINE.CNC]?.status
      }
    "
  />
  <ng-container
    *ngTemplateOutlet="
      machine;
      context: {
        machine: ST_MACHINE.CH0PCH0P,
        status: machines()?.[ST_MACHINE.CH0PCH0P]?.status
      }
    "
  />
</div>
